<body>
  <div class="container">
    <div class="form-container">
      <h2>Register</h2>
      <form [formGroup]="userForm" (ngSubmit)="onHandleSubmit()">
        <div class="input-container">
          <input placeholder="Name" id="name" type="text" formControlName="name">
        </div>
        <div class="input-container">
          <input placeholder="Email" id="email" type="email" formControlName="email">
        </div>
        <div class="input-container">
          <input placeholder="Password" id="password" type="password" formControlName="password" autocomplete="password">
        </div>
        <div class="input-container">
          <input placeholder="Confirm Password" id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="password">
        </div>
        <div class="input-container">
          <input placeholder="Address" id="address" type="text" formControlName="address">
        </div>
        <div class="input-container">
          <input placeholder="Phone" id="phone" type="text" formControlName="phone">
        </div>
        <button type="submit" [disabled]="!userForm.valid">Submit</button>
      </form>
    </div>
  </div>
</body>