<footer>
    <div class="logo">
        <img src="/assets/images/logo/logo.png" alt="" routerLink="/">
    </div>
    
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/about">About</a></li>
                <li><a href="#" routerLink="/blog">Blog</a></li>
                <li><a href="#" routerLink="/contact">Contact</a></li> 
            </ul>
        </nav>
        <div class="icon">
            <div class="cart face">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="login insta">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        
   
</footer>

