
<div class="container">
    <div class="searchfood">
        <input type="text" placeholder="Search food..." [(ngModel)]="searchKeyword" >
        <button (click)="searchProducts()"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="container-main">
        <h1>Home kithen</h1>
        <select [(ngModel)]="selectedCategory" (change)="selectedCategory === 'all' ? showAllProducts() : filterProducts()" class="fillter">
    
            <option value="all" >All</option>
            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
        </select>
        <div class="product-gr " *ngIf="filteredProducts.length > 0; else noProducts">
            <!-- " -->
            
                <div class="product-item" *ngFor="let product of filteredProducts" >
                    <img src="{{product.avatar.base_url}}" alt="img" (click)="goToProductDetail(product.slug)" class="avatar">
                    <div class="product-item-info" >
                        <div class="name" ><a [routerLink]="['/products', product.slug]">{{ product.name }}</a></div>
                        <div class="price-gr">
                            <div class="price">{{product.price }}VNĐ</div>
                            <div class="price-original">{{product.original_price}}VNĐ</div>
                        </div>
                        
                    </div>
                    
                </div>
           
            
            
            
        </div>
        <ng-template #noProducts>
            <div class="bg-gray-100">
                <div class="flex items-center justify-center h-screen">
                  <div class="text-center">
                    <h1 class="text-4xl font-bold text-gray-800">Không tìm thấy sản phẩm</h1>
                    <p class="text-lg text-gray-600 mb-8">Chúng tôi xin lỗi, nhưng sản phẩm được yêu cầu không có sẵn.</p>
                    <a href="/" class="text-white bg-blue-500 hover:bg-blue-700 py-3 px-6 rounded-lg font-medium">Go to Home</a>
                  </div>
                </div>
              </div>
          </ng-template>
    </div>
    
    <!-- <div class="blog">
        <h2>Our Blog</h2>
        <div class="blog-item-gr"> -->
            <!--  -->
            <!-- <div class="blog-gr1">
                <div class="blog-item">
                    <img src="" alt="">
                    <h3>Blog1</h3>
                    <span>span1</span>
                </div>
                <div class="blog-item">
                    <img src="" alt="">
                    <h3>Blog1</h3>
                    <span>span1</span>
                </div>
            </div> -->
            <!--  -->
            <!-- <div class="blog-gr2">
                <div class="blog-item">
                    <img src="" alt="">
                    <h3>Blog1</h3>
                    <span>span1</span>
                </div>
            </div>
            <div class="blog-gr3">
                <div class="blog-item">
                    <img src="" alt="">
                    <h3>Blog1</h3>
                    <span>span1</span>
                </div>
                <div class="blog-item">
                    <img src="" alt="">
                    <h3>Blog1</h3>
                    <span>span1</span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- contact -->
    <!-- <div class="contact">
        <div class="contact-gr1">
            <div class="ct-title">
                <h2>Do you have a question or want to become a seller?</h2> 
                <span>Fill this form and our manager will contact you next 48 hours</span>
             </div>
             <div class="input-contact">
                 <input type="text" placeholder="Your Name">
                 <input type="email" placeholder="Your e-mail">
                 <textarea name="" id="" cols="30" rows="10"></textarea>
             </div>
        </div>
       
        <div class="contact-gr2">
            <img src="" alt="">
        </div>
        
    </div> -->
</div>